#Pasta de configurações do VS Code
.vscode

#Pasta de cache do python
__pycache__

#Arquivo temporário contendo o token do bot
token.txt

#Foto gerada com as informações do usuário
robo_save.png

#Arquivos dos testes de integração
config.ini
my_account.session
my_account.session-journal
unknown_errors.txt
bot_name.txt
