APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
geographiclib==1.50
geopy==2.0.0
google==3.0.0
idna==2.10
Pillow==8.0.1
pycparser==2.20
python-dateutil==2.8.1
python-telegram-bot==13.1
python-telegram-bot-calendar==1.0.2
pytz==2020.4
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
validate-email==1.3
